.color-option,
.dropdown-menu,
.testimonials .carousel-indicators button.active
{
    border: 3px solid  #d7f33b;
}



.color-option ul li,
.fa-cog,
.navbar-toggler,
.carousel-indicators .active,
.skill-info button,
.Contact-Us .opa .row button,
.subscribe button,
.navbar-light .navbar-nav .show > .nav-link, 
.navbar-light .navbar-nav .nav-link.active ,
.navbar-light .navbar-nav .nav-link:hover,
.dropdown-item:hover,
#scroll-top
{
    background-color:   #d7f33b;
}


.about span,
.navbar-brand span,
.features i,
.testimonials .carousel-item span,
.footer h3,
.footer #inc,
.carousel-caption h1,

.person h5,
.person i
{
    color:  #d7f33b;
}
